body{background-color: #EDC5AB;}

h0 {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 148.4%;
    color: #E7EAEF;
}

h1 {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 148.4%;
    color: #E7EAEF;
}

h2 {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 148.4%;
    color : #EDC5AB;
    text-align: right;
}

h3 {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 93px;
    color : #217074;
}

h4 {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 93px;
    color: #E7EAEF;

}
.twocol {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#greenblR {
    background: #8B9D77;
    border-radius: 0px 51px 51px 0px;
}
#greenblL {
    background: #8B9D77;
    border-radius: 51px 0px 0px 51px;
}

#top{
    background: #8B9D77;
    border-radius: 0px 27px 27px 0px;
}
#gt{
    background: #217074;;
    border-radius: 0px 38px 38px 0px;
}
ul1 {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 148.4%;

    color: #E7EAEF;
}
ul2 {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 52px;

    color: #217074;
}
.R{
    text-align: right
}
.a {
    position: absolute;
    width: 193px;
    height: 2970px;
    left: -53px;
    top: 0px;
}